.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
.rubocop.yml
.travis.yml
.ruby-version
README.md
Procfile*
public/assets/*
docker-compose.*
yarn-error.log
tmp/*
!tmp/pids/
!tmp/pids/.keep
log
config/deploy
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/
.env

