body, html {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

 .container-index {
  height: calc(100vh - 66px);
 }

 .overview {
    height: 140px;
    width: 80%;
    margin: auto;
    padding-top: 15px;
 }

.overview > p {
  font-size: 20px;
  font-weight: bold;
}
