@import "index_plant";
@import "new_session";
@import "show_plant";
@import "new_plant";
@import "new_registration";
@import "care";

body, html {
  font-family: $body-font;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
