.log-in-page {
  background-image: image-url('test.png');
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in-form {
  margin: 120px 20px 0px 20px;
  background: white;
  padding: 38px 55px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.form-control:focus {
  border-color: green;
  box-shadow: 0 0 0 0.1rem rgba(30, 130, 76, 0.5);
}

.block {
  display: block;
  height: 100vh;
  overflow: visible !important;
}
