.log-in-page {
  background-image: image-url('test.png');
  background-size: center;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
}

.sign-in-form {
  margin: 140px 20px 0px 20px;
  background: white;
  padding: 38px 55px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.form-control:focus {
  border-color: green;
  box-shadow: 0 0 0 0.1rem rgba(30, 130, 76, 0.5);
}


