.container-plant-show {
  background-image: image-url('plant_show.png');
  background-repeat: no-repeat;
  height: calc(100vh - 66px);
  background-position: -42px -250px;
}

.plant-information {
  padding-top: 45px;
  width: 70%;
  margin: auto;
}
