body, html {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-plant-show {
  background-image: image-url('plant_show.png');
  background-repeat: no-repeat;
  height: calc(100vh - 66px);
  // height: -o-calc(100vh - 66px); /* opera */
  // height: -webkit-calc(100vh - 66px); /* google, safari */
  // height: -moz-calc(100vh - 66px); /* firefox */
  background-position: -42px 250px;;
}

.plant-information {
  padding-top: 45px;
  width: 70%;
  margin: auto;
}
