.new-plant-card {
  margin: auto;
  border-radius: 8px;
  display: block;
  font-size: 40px;
  height: 80px;
  background-image: image-url('sign-in-bg.png');
  background-position: right;
  margin-bottom: 15px;
}

.new-plant-text {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}

.plant-card {
  height: 250px;
  width: 180px;
  position: relative;
  margin-right: 15px;
  border-radius: 10px;
}

.mb-5, .my-5 {
    margin-bottom: 1.5rem !important;
}

.shadow {
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.15) !important;
}

.plant-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(80, 80, 80);
}

.scrollable {
  display: flex;
  overflow-x: auto;
}

.margin-left {
  margin-left: 15px;
}

.scrollable::-webkit-scrollbar {
    display: none;
}
