.new-plant-card {
  margin: auto;
  border-radius: 8px;
  display: block;
  font-size: 40px;
  height: 100px;
  background-image: image-url('sign-in-bg.png');
  background-position: right;
  margin-bottom: 15px;
}

.new-plant-text {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.plant-card {
  height: 250px;
  width: 180px;
  position: relative;
  background: $light;
  margin-right: 15px;
  border-radius: 10px;
}

.plant-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

.scrollable {
  display: flex;
  overflow-x: auto;
}

.scrollable::-webkit-scrollbar {
    display: none;
}
